@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

html, body, form {
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 2.2em;
    letter-spacing: 1px;
    color: #828282;
}
body {
    border: 15px solid #ffffff;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    -moz-transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
    text-decoration: none;
    color: #18caac;
}
a:visited {
    color: black;
}
p {
    font-size: 1.5em;
}

h1 {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: rgba(24,202,172,1);
    /*color: #868686;*/
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 18px;

    padding: 0px 0px 30px 0px;
    margin: 0px 0px 0px 0px;
}
.Huge-Text {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 38px;
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 36px;

    display: block;
}

.NavArea {
    background: rgba(24,202,172,1);
    color: #ffffff;
}
.NavBtn {
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 3px) ;
    transform: rotate(-45deg) translate(-7px, 3px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -3px) ;
    transform: rotate(45deg) translate(-7px, -3px) ;
}

.navlink {
    display: block;
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 900;
    color: #18caac;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px;
}
.navlink:visited {
    color: white;
}
.navlink:hover {
    color:#18caac;
}

.Logo {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.NavCaption {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.NavCaption span {
  color: #6b6a6a;
}


.PageWrapper {
    display: block;
}

.Social {
    position: absolute;
    left: 50%;
    margin-left: -120px;
}


.cssHomeBg {
    background: url("../images/beach.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cssAboutBg {
    background: url("../images/abby-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cssPortfolioBg {
    background: url("../images/stingray.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cssSkillsBg {
    background: url(../images/island.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cssContactBg {
    background: url("../images/botswana.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cssOpacity {
    width: 100%;
    height: 100%;
    background: rgba(24, 202, 172, 0.63);
}


.Container .NavBtn {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    display: table;

    margin: 30px 0px 35px 0px;

    padding: 8px 30px 8px 30px;
    background:#18caac;
    color: #ffffff;
    border: 1px solid #18caac;
    cursor: pointer;

    -moz-transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}


.contact-links i {
  padding-right: 5%;
}
.contact-links .next-page-links {
  margin-left: -26px;
  text-align: left;
}


@media screen and (min-width: 700px) {
  body{
    border: 0 solid white;
  }

  .NavArea {
    display: none;
    float: left;
    position: relative;
    overflow: hidden;

    width: 85px;
    height: 100%;
  }
  .NavBtn {
    margin: 20px 0px 0px 30px;
  }
  .navlink {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    margin: 0px 0px 15px 0px;
  }


  .PageWrapper {
    width: auto;
    height: 100%;
    overflow: auto;
    position: relative;
  }

  .Social {
    bottom: 5px;
  }

  .ImageArea {
    width: 50%;
    height: 100%;
    float: left;
  }
  .ImageArea img {
    width: 200px;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
