@media (min-width: 1101px) and (max-width: 1670px) {
  .image {
    height: 300px;
    width: 300px;
  }

  .profile {
    padding-bottom: 45%;
  }

  .project-container {
    box-sizing: border-box;
    margin: 5% auto;
    /*margin: 5% 15%;*/
    width: 100%;

  }

  .portfolio-cards div {
    height: 350px;
    width: 210px;
  }

  .portfolio-cards {
    height: 350px;
    width: 200px;
  }

  .info-card {
    height: 450px;
  }

}

@media (max-width: 1100px) {

  .welcome > .heading > h1 {
    font-size: 7em;
  }

  .heading > h2 {
    font-size: 4.5em;
  }

  .image {
    height: 300px;
    width: 300px;
    border-radius: 15%;
    padding-left: 0px;
    margin-left: -70px;
    margin-top: 4%;
  }

  .about-me {
    margin-top: 0%;
    width: 58%;
  }

  .about {
    padding-bottom: 220px;
  }

  .profile {
    padding-bottom: 45%;
  }

  .portfolio-cards div {
    height: 350px;
    width:400px;
  }

  .portfolio-cards {
    height: 350px;
    width: 400px;
  }

  .info-card {
    height: 450px;
    background: grey;
  }
}


@media (max-width: 768px) {

  h2 {
    font-size: 4em;
  }

  .welcome > .heading > h1 {
    font-size: 3em;
  }

  .heading > h2 {
    font-size: 2.5em;
  }

  .welcome {
    background: black;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 12%;
    margin-bottom: 30%;

  }
  /*nav {
      display: none;
  }*/

  .image {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 500px;
  }

  .about-me {
    width: 100%;
    background-color: white;
    padding-bottom: 5%;
    margin-bottom: 10%;
  }

  footer > ul {
    padding: 0px;
  }
  .portfolio-cards div {
    height: 350px;
    width: 430px;
  }

  .portfolio-cards {
    height: 350px;
    width: 430px;
  }

  .front-card h3{
    font-size: 2.5em;
  }

  .info-card p {
    font-size: 1.23em;
  }


}

@media (max-width: 430px) {

  #profile {
    width: 100%;
    padding-bottom: 87%;
    /* margin-bottom: 500px; */
  }

  .about-me {
    background-color: white;
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }

  .image {
    background-color: white;
    margin-bottom: 13%;
  }

  #skill-section {
      margin-top: 650px;
  }

  .portfolio-cards div {
    height: 350px;
    width: 200px;
  }

  .portfolio-cards {
    height: 350px;
    width: 220px;
  }

  .info-card p {
    font-size: 1em;
  }

  ul.skills {
    width: 80%;
    padding-left: 0px;
    margin: 0 auto;
  }

  .skills > li {
    width: 30%;
  }

}
