/* line 1, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */

.centered-navigation {
  background-color: #3f4d3f;
  border-bottom: 1px solid #313c31;
  min-height: 1.5em;
  width: 100%;
  z-index: 9999; }
  /* line 27, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 1.5em;
    padding-left: 1em; }
    /* line 33, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
    .centered-navigation .mobile-logo img {
      max-height: 1.5em;
      opacity: .6;
      padding: .8em 0; }
  /* line 44, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(197, 247, 203, 0.7);
    display: block;
    float: right;
    line-height: 1.5em;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    /* line 58, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #C5F7CB; }
  /* line 67, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
  .centered-navigation .centered-navigation-wrapper {
    position: relative;
    z-index: 999; }
  /* line 73, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;
    display: block;
    text-align: center; }
    /* line 86, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
  /* line 97, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
  .centered-navigation .nav-link:first-child {
    margin-left: 2.2em; }
  /* line 103, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
  .centered-navigation ul li.nav-link {
    background: #3f4d3f;
    display: block;
    line-height: 1.5em;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    font-size: 1.5rem;
    background: transparent;
    display: inline;
    line-height: 1.5em; }
    /* line 117, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
    .centered-navigation ul li.nav-link a {
      color: rgba(197, 247, 203, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      /* line 123, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #C5F7CB; }
    /* line 131, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
    .centered-navigation ul li.nav-link a {
      padding-right: 1em; }
  /* line 137, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0;
    display: inline; }
  /* line 146, /Users/greenbloom11/bitmaker/agreenbloom.github.io/source/stylesheets/navbar.scss */
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
