<section class="skill" >
  <h2 id="my-skill">Skills</h2>
  <div class="contain">
    <div class="skill-s" >
      <strong>Front End</strong>
      <ul class="skills">
        <li class="skills">JavaScript</li>
        <li class="skills">D3.js</li>
        <li class="skills">jQuery</li>
        <li class="skills">HTML</li>
        <li class="skills">CSS</li>
      </ul>
    </div>
    <div class="skill-s">
      <strong>Back End</strong>
      <ul class="skills">
        <li class="skills">Git</li>
        <li class="skills">Ruby on Rails</li>
        <li class="skills">Unix</li>
        <li class="skills">TDD</li>
        <li class="skills">Postgres</li>
      </ul>
    </div>
  </div>
</section>
